// Generic Variables

$bg-color: #fff;
$main-font: "Helvetica Neue", Helvetica, Gotham, Arial, "sans-serif";
$main-font-color: #333;
$main-font-weight: 500;

// Slider Variables

$slider-width: 100%;
$slider-max-width: 1200px;
$slider-height: auto;
$slider-duration: 60s;
$toggle-dot-full: 1;
$toggle-dot-opaque: 0.6;
$toggle-dots-hover-color: #888;
$slider-buttons-transition-duration: .3s;
$slider-border: 0px solid #000000;
$caption-bg: rgba(0,0,0,.3);